nav {
  -webkit-app-region: drag;
}

a {
  -webkit-app-region: no-drag;
}

select {
  -webkit-app-region: no-drag;
}

.nav.nav-center {
  float:none;
  display: inline-block;
  margin: 15px auto;
}

.navbar-inner{
  text-align: center;
}

ul.window-controls li a {
  padding-left: 7px;
  padding-right: 7px;
}

.window-controls {
  .close-icon {
    color: #FF4136;
    
    &:hover {
      color: #FF851B;
    }
  }

  .minimize-icon {
    color: #FF851B;
    
    &:hover {
      color: #FFDC00;
    }
  }

  .maximize-icon {
    color: #3D9970;
    
    &:hover {
      color: #2ECC40;
    }
  }
}
