<html ng-app="keybaseGui">
<head>
    <title>Keybase GUI</title>
    <link rel="stylesheet" type="text/css" href="build/css/libs.css" />
    <link rel="stylesheet" type="text/css" href="build/css/app.css" />
    <script src="build/js/libs.js"></script>
    <script src="build/js/config.js"></script>
    <script src="build/js/app.js"></script>
</head>
<body ng-controller="KeybaseGuiApplicationController">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-inner">
        <div class="navbar-header">

        </div>
        <ul class="nav navbar-nav window-controls">
          <li>
            <a href="#" ng-click="closeWindow()">
              <i class="close-icon glyphicon glyphicon-remove-sign"></i>
            </a>
          </li>
          <li>
            <a href="#" ng-click="minimizeWindow()">
              <i class="minimize-icon glyphicon glyphicon-minus-sign"></i>
            </a>
          </li>
          <li>
            <a href="#" ng-click="maximizeWindow()">
              <i class="maximize-icon glyphicon glyphicon-plus-sign"></i>
            </a>
          </li>
        </ul>
        <ul class="nav navbar-form nav-center">
            <li>
              <div class="form-group">
                <private-key-select ng-model='data.selectedPrivateKey'></private-key-select>
              </div>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Import Private-Key <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#" ng-click="openLoginModal()">From Keybase</a></li>
              <li><a href="#" ng-click="openImportStringModal()">From String</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class='container-fluid'>
    <alert ng-repeat="alert in alerts" type="alert.type" ng-bind-html="alert.msg" close="closeAlert($index)"></alert>
    <div class='row'>
      <div class='col-md-3 col-xs-4'>
        <div ng-controller='FriendListController'>
          <h2>
            Friends
            <div class="pull-right">
              <script type="text/ng-template" id="addUserTemplate.html">
                <div class="popover" ng-controller='UserSearchController'>
                  <div class="arrow"></div>
                  <h3 class="popover-title">Add a Friend</h3>
                  <div class="popover-content">
                    <form name="popoverForm">
                      <input type='text' ng-model="username"
                      typeahead="suggestions for suggestions in getSuggestions($viewValue) | filter:$viewValue"
                      typeahead-loading='loadingSuggestions' /> <br />
                      <button class="btn" ng-click="lookup()">Add</button>
                    </form>
                  </div>
                </div>
              </script>
              <button
              data-animation="am-flip-x"
              bs-popover
              data-template="addUserTemplate.html"
              class="btn btn-primary">
                <span class="glyphicon glyphicon-white glyphicon-plus-sign"></span>
              </button>
            </div>
          </h2>

          <ul class="nav nav-pills nav-stacked">
            <li ng-class="{active: selectedFriend == user}"
                ng-repeat="user in friends track by $index">
              <a ng-click='selectUser(user)' href=""
                data-selected="{{selectedFriend == user}}">{{ user.basics.username }}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class='col-md-9 col-xs-8'>
        <tabset justified='true'>
          <tab heading="Encrypt">
            <div ng-controller='EncryptMessageController'>
              <ng-switch on="mode">
                <div ng-switch-default class="slide">
                  <div class='input-area'>
                    <textarea ng-model='data.plaintext'></textarea>
                  </div>
                  <div class="button-area pull-right">
                    <input type='checkbox' ng-model='data.sign' /> Sign Message
                    <button class="btn" ng-click="encrypt()">Encrypt</button>
                  </div>
                </div>
                <div ng-switch-when="encrypted" class="slide">
                  <div class="output-area">
                    <textarea ng-model='encrypted'></textarea>
                  </div>
                  <div class="button-area pull-right">
                    <button class="btn" ng-click="back()">Back</button>
                  </div>
                </div>
              </ng-switch>
            </div>
          </tab>
          <tab heading="Decrypt">
            <div ng-controller='DecryptMessageController'>
              <ng-switch on="mode">
                <div ng-switch-default class="slide">
                  <div class="input-area">
                    <textarea ng-model='data.encryptedMessage'></textarea>
                  </div>
                  <div class="button-area pull-right">
                    <input type='checkbox' ng-model='data.verify' /> Verify Message
                    <button class="btn" ng-click="decryptMessage()">Decrypt</button>
                  </div>
                </div>
                <div ng-switch-when="plaintext" class="slide">
                  <div class="output-area">
                    <textarea ng-model='data.decryptedMessage'></textarea>
                    <div ng-show="data.signers.length">
                      This message was signed by:
                      <ul><li ng-repeat="key in data.signers">{{ key.users[0].userId.userid }}</li></ul>
                    </div>
                  </div>
                  <div class="button-area pull-right">
                    <button class="btn" ng-click="back()">Back</button>
                  </div>
                </div>
              </ng-switch>
            </div>
          </tab>
          <tab heading="Sign">
            <div ng-controller='SignCleartextMessageController'>
              <ng-switch on="mode">
                <div ng-switch-default class="slide">
                  <div class="input-area">
                    <textarea ng-model='data.plaintext'></textarea>
                  </div>
                  <div class="button-area pull-right">
                    <button class="btn" ng-click="signMessage()">Sign</button>
                  </div>
                </div>
                <div ng-switch-when="signed" class="slide">
                  <div class="output-area">
                    <textarea ng-model='data.signed'></textarea>
                  </div>
                  <div class="button-area pull-right">
                    <button class="btn" ng-click="back()">Back</button>
                  </div>
                </div>
              </ng-switch>
            </div>
          </tab>
          <tab heading="Verify">
            <div ng-controller='VerifyCleartextMessageController'>
              <ng-switch on="mode">
                <div ng-switch-default class="slide">
                  <div class="input-area">
                    <textarea ng-model='data.signedMessage'></textarea>
                  </div>
                  <div class="button-area pull-right">
                    <button class="btn" ng-click="verifyMessage()">Verify</button>
                  </div>
                </div>
                <div ng-switch-when="verified">
                  <div class="output-area">
                    <textarea ng-model="data.verifiedMessage"></textarea>
                    <div ng-show="data.signers.length">
                      This message was signed by:
                      <ul><li ng-repeat="key in data.signers">{{ key.users[0].userId.userid }}</li></ul>
                    </div>
                  </div>
                  <div class="button-area pull-right">
                    <button class="btn" ng-click="back()">Back</button>
                  </div>
                </div>
              </ng-switch>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>


  <script type="text/ng-template" id="loginModalTemplate.html">
    <div class='modal-header'>
      <h3>Login</h3>
    </div>
    <div class='modal-body'>
      <input ng-model="username" />
      <input type="password" ng-model="password" />
    </div>
    <div class='modal-footer'>
      <button class="btn btn-primary" ng-click="login()">Import</button>
      <button class='btn btn-warning' ng-click="cancel()">Cancel</button>
    </div>
  </script>

  <script type="text/ng-template" id="importPrivateKeyModalTemplate.html">
    <div class="modal-header">
      <h3>Import Your Privatekey</h3>
    </div>
    <div class="modal-body">
      <textarea ng-model='key'></textarea>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="importKey()">Import</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
  </script>

  <script type="text/ng-template" id="passwordModalTemplate.html">
    <div class="modal-header">
        <h3>Unlock private key</h3>
    </div>
    <div class="modal-body">
    <p>
      To use this private key, it first has to get decrypted. For this, your password is required.
      Nothing will be saved, everythings only in the RAM.
    </p>
    <input type='password' ng-model='user.password' />
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="ok()">OK</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
  </script>
  <script>
    var Gaze = require('gaze').Gaze;
    var gaze = new Gaze(['index.html', 'build/**/*']);

    gaze.on('all', function(event, filepath) {
      if (location)
        location.reload();
    });
  </script>
</body>
</html>
